@import '../_variables.scss';

.tabSection {
  h4 {
		font-size: 24px;
	}
	.wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 50px;
	}
	
	@media(max-width: $tablet) {
		.wrapper {
			display: none;
		}
		h4 {
			font-size: 20px;
		}
	}
}