@import '../_variables.scss';

$spacing-between: 31px;
.title {
  @include Title;
  padding-bottom: 32px;
  word-wrap: break-word;
  max-width: 954px;
}
.subtitle {
  @include Subtitle;
  font-weight: normal;
  padding-bottom: $spacing-between;
  line-height: 1.6rem;
}
.description {
  font-family: $primaryFont;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.55px;
  color: $text-grey-light !important;
  padding-bottom: $spacing-between;
  max-width: 676px;
}

.titleCenter {
  text-align: center;
  margin: auto;
  h1,
  h2,
  h3,
  p {
    text-align: center;
    margin: 0 auto;
  }
}
