@import '../_variables.scss';
$padding-between-content: 25px 20px;
.highlighted__wrapper {
  display: grid;
  position: relative;
  width: 100%;
  padding-top: 20px;
  grid-gap: 10px;

  .highlighted__specification {
    text-align: center;
    padding-top: 15px;
    border: 1px solid $border-dark-background;

    .highlighted__specification__title {
      color: $white;
      font-weight: bold;
      font-size: 32px;
      line-height: 170%;
      margin-top: 20px;
      padding: $padding-between-content;
      padding-top: 40px;
    }
    .highlighted__specification__description {
      margin: auto;
      margin-bottom: 0;
      font-weight: bold;
      line-height: 170%;
      padding: $padding-between-content;
    }
  }
  @media only screen and(min-width: $tablet) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
    margin: auto;
    .highlighted__specification {
      padding-top: 30px;
      .highlighted__specification__description {
        padding-top: 3rem;
      }
    }
  }
}
