@import '../../_variables.scss';

.program {
  margin-top: 50px;
  background-color: $dark-light;
  border-radius: 3px;
  h3 {
    padding: 16px;
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  .event {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 8px 20px;
    padding: 20px 16px;
    font-weight: bold;
    .event__time,
    .event__heading,
    .event__duration p,
    .event__cam p {
      color: white !important;
      font-weight: bold;
      line-height: 100%;
    }
    .event__time {
      font-size: 14px;
      grid-column: 1 / span 2;
    }
    .event__heading {
      padding-bottom: 10px;
      font-size: 16px;
      grid-column: 1 / span 2;
    }
    .event__duration,
    .event__cam {
      display: flex;
      font-size: 12px !important;
      svg, p {
        margin: auto 0;
        line-height: 140%;
      }
      svg {
        height: 20px !important;
        width: 16px !important;
        margin-right: 9px;
      }
    }
    .event__cam {
        text-transform: uppercase;
    }

    &:nth-of-type(odd) {
      background-color: #171a25;
    }
  }
  @media only screen and (min-width: $tablet) {
    margin-top: 0;

    h3 {
      padding: 30px 16px;
    }

    .event {
      grid-template-columns: 90px auto 150px 130px;
      grid-template-rows: 1fr;

      & > * {
        margin: auto 0;
        padding: 10px 0 !important;
      }
      .event__time {
        font-size: 14px;
        grid-column: 1;
      }
      .event__heading {
        padding-bottom: 10px;
        font-size: 16px;
        grid-column: 2;
      }
    }
  }
}
