@import '../_variables.scss';

.section {
  .content {
    .leftColumn {
      margin: 0;
      .heading,
      .subheading {
        margin-top: 0;
				margin-bottom: .5em;
				max-width: 500px;
      }
      .image {
        padding-top: 3rem;
      }
    }

    @media only screen and (min-width: $tablet) {

    }
  }
}
