@import '../_variables.scss';

.section {
  .content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 18px;

    .leftColumn {

      .heading,
      .subheading {
        margin-bottom: 0;
      }
    }


    .leftColumn,
    .rightColumn {
      padding: 0;
    }
    .titleAndImage {
      display: grid;
      grid-template-columns: 1fr;
    }
    .image {
      grid-row: 1;
      padding-bottom: 60px;
    }
    .subheading {
      grid-row: 2;
      font-weight: bold;
      color: $white;
    }
    .heading {
      grid-row: 3;
      margin-top: 10px;
    }
    .rightColumn {
      a {
        display: inline-flex;
        padding: .8rem 1rem;
        background-color: $red;
        font-size: 14px;
        border-radius: 3px;
        color: $white;
        transition: $transition;
        &:hover,
        &:focus {
          opacity: 0.85;
          background-color: $red;
          color: $white;
        }
      }
    }

    @media only screen and (min-width: $tablet) {

      .subheading {
        grid-row: 1;
      }
      .heading {
        grid-row: 2;
      }
      .image {
        grid-row: 3;
      }
      .leftColumn {
        margin: 0;
        padding-left: 0 !important;

        .heading,
        .subheading {
          margin-top: 0;
          margin-bottom: .5em;
        }

        .image {
          padding-top: 3rem;
        }
        & > .image, & > .heading {
          margin-top: 0;
          padding-top: 0;
        }
      }

      .leftColumn,
      .rightColumn {
        margin-top: 0;
        padding: 0 1.5rem 1.5rem 1.5rem;
      }
      .rightColumn.subheading__exist {
        margin-top: 25px;
      }
    }
  }
}