@import '../_variables.scss';

@mixin tableContent {
  font-family: $primaryFont;
  font-weight: 600;
  font-size: 15px;
  color: $body-light;
}

.table {
  background-color: transparent !important;
  border: 1px solid $border-dark-background;
  overflow-x: auto;
  width: 100%;
  .head,
  .foot {
    th {
      font-family: $primaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 200%;
      color: $white !important;
      padding: 20px 17px 42px 17px;
      border: 1px solid $border-dark-background;
    }
  }
  .body {
    tr {
      td {
        border: 1px solid $border-dark-background;
        padding: 15px 10px;
        .domain {
          @include tableContent;
        }
        .company {
          @include tableContent;
          opacity: 0.7;
        }
      }
      &.green {
        .status {
          color: $success;
        }
        @media only screen and (max-width: $tablet) {
          .domain {
            color: $success;
          }
        }
      }
      &.yellow {
        .status {
          color: $warning;
        }
        @media only screen and (max-width: $tablet) {
          .domain {
            color: $warning;
          }
        }
      }
      &.red {
        .status {
          color: $error;
        }
        @media only screen and (max-width: $tablet) {
          .domain {
            color: $error;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $tablet) {
    thead,
    tfoot {
      th {
        font-size: 4vw !important;
        line-height: 200%;
        padding: 10px 5px;
      }
    }
    tbody {
      tr {
        td {
          padding: 5px 3px;
          width: 48vw;
          max-width: 48vw;
          .domain,
          .company {
            font-size: 3vw !important;
            word-wrap: break-word;
            white-space: initial;
          }
        }
      }
    }
  }
}

.colorDescriptionItem {
  display: flex;
  padding: 5px 0;
  .redDot,
  .greenDot,
  .yellowDot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: auto 0;
    margin-right: 10px;
  }
  .redDot {
    background-color: $error;
  }
  .greenDot {
    background-color: $success;
  }
  .yellowDot {
    background-color: $warning;
  }
  p {
    color: $text-light;
    opacity: 0.9;
  }
}

.link {
  text-decoration: underline;
  transition: $transition;
  &:hover, &:focus {
    opacity: 0.7;
  }
}