@import '../_variables.scss';

.video {
    height: 40vh !important;

    @media only screen and (min-width: $tablet) {
        height: 790px !important;
        svg {
            width: 100px !important;
            height: 100px !important;
        }
    }
}