@import '../_variables.scss';

.heading {
  padding-bottom: 30px;
}

.wrapper {
  .box {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    padding-top: 10px;

    .image {
      width: 70px;
      height: 100px;
      margin: 0 auto;
    }

    .box__heading, h3 {
      padding-bottom: 10px;
      font-family: $primaryFont;
      font-weight: bold;
      font-size: 18px;
      max-height: 64px;
    }

    .description {
      max-width: 300px;
      margin: 0 auto;
      color: $body-light;
      font-weight: normal;
      letter-spacing: 0.5px;
      line-height: 170%;
    }

    .button {
      margin-top: 20px;
    }

    &.is_left {
      .image, .description {
        margin-left: 0;
      }
    }
  }

  @media only screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    .image {
      padding-bottom: 40px;
    }
  }
}
