@import '../_variables.scss';

.boxes {
  .box {
    padding: 50px 30px;

    background: transparent;
    border: 1px solid #3e4045;
    box-sizing: border-box;
    border-radius: 3px;
    @media only screen and (min-width: 400px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 0 20px;
      height: 100%;
    }

    .box__image {
      height: 100%;
      margin: auto 0;
    }
    .box__image__gatsby {
      margin: 0 !important;
      margin-bottom: 10px !important;
    }
    .box__description {
      font-size: 14px;
      line-height: 170%;
      color: $body-light;
      padding-top: 32px;
      max-width:370px;
      margin: 0 auto;
    }
  }
  @media only screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-top: 100px;
    .box {
      display: block;
      min-height: 380px;
      text-align: center;
      &:nth-of-type(1) {
        background: linear-gradient(
          135deg,
          rgba(80, 85, 116, 0.5) 9.2%,
          rgba(26, 36, 57, 0) 93.89%
        );
      }
      &:nth-of-type(2) {
        background: transparent;
      }
      &:nth-of-type(3) {
        background: linear-gradient(
          226.84deg,
          rgba(80, 85, 116, 0.5) 8.58%,
          rgba(26, 36, 57, 0) 94.47%
        );
      }
      .box__image {
        max-width: 209px;
        padding-bottom: 50px;
        height: auto;
      }
      .box__image__wrapper {
        height: 120px;
        .box__image__gatsby {
          margin: 0 auto !important;
        }
      }
    }
  }
}
