@import '../_variables.scss';

$spacing-between: 18px;
.title {
  font-weight: 300;
  color: $white;
  // line-height: 110%;
  @include Title;
  padding-bottom: 32px;
  word-wrap: break-word;
}
.subtitle {
  @include Subtitle;
  padding-bottom: 8px;
  line-height: 1.6rem;
}
.description {
  font-family: $primaryFont;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.55px;
  color: $text-grey-light !important;
  padding-bottom: $spacing-between;
  max-width: 650px;
}

.titleCenter {
  text-align: center;
  margin: auto;
  h1,h2,h3,p {text-align: center; margin: 0 auto;}
}