@import '../_variables.scss';

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;

    .box {
        & > * {
            padding-bottom: 0 !important;
        }
        .content {
            background-color: transparent;
        }
    }

    // @media only screen and (min-width: $tablet) {

    // }
}