@import '../../_variables.scss';

.event__text {
  position: relative;
  z-index: 20;
  padding: 10px 18px;

  .event__text__time,
  .event__text__heading {
    font-family: $primaryFont;
    color: $white;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
  }
  .event__text__camera {
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 170%;
    text-transform: uppercase;
    margin: auto 0;
    svg {
      width: 12px;
      margin-right: 10px;
    }
    &.is__active {
      color: #569f6b;
      svg, svg path {
        fill: #569f6b !important;

      }
    }
    &:not(.is__active) {
      color: $white !important;

      svg, svg path {
        fill: rgba(255, 255, 255, 0.8) !important;
      }
    }
  }
}
