@import '../_variables.scss';


.section {
  display: grid;
  grid-template-areas: 
  "heading"
  "cta"
  "carousel"
  "navigation";
  padding-top: 30px;

  .container {
    display: contents !important;
  }
  .cta {
    grid-area: cta;
    margin: auto;
    max-width: 268px;
    margin-bottom: 50px;
  }
  .heading {
    grid-area: heading;
    max-width: 820px;
    margin: auto;
    font-weight: 500;
    text-align: center;
  }
  .carousel {
    grid-area: carousel;
  }
  .carousel__navigation {
    grid-area: navigation;
    display: flex;
    padding-top: 20px;
    div:first-child {
      margin-right: auto;
    }
  }
  @media only screen and (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "heading heading"
    "cta navigation"
    "carousel carousel";
    padding-top: unset;
    .cta {
      grid-area: cta;
      max-height: 52px;
      margin: 0;
    }
    .heading {
      text-align: left;
      margin: 0;
    }
    .carousel {
      grid-area: carousel;
    }
    .carousel__navigation {
      padding: 0;
      margin-left: auto;
      div:first-child {
        margin-right: 24px;
      }
    }
  }
}

.carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, [col] 320px);
  grid-gap: 11px;
  overflow: hidden;

  @media only screen and (min-width: $tablet) {
    grid-template-columns: repeat(auto-fill, [col] 450px);
    overflow: visible;
    width: 100vw;
    padding-top: 60px;
  }
}
