@import '../_variables.scss';

.hero {
  background-position: center center !important;
  background-size: cover !important;
  .content {
    .content__heading {
      margin: auto;
      padding-bottom: 20px;
      font-weight: 500;
      line-height: 120%;
    }
    .content__subheading {
      max-width: 600px;
    }
    .button {
      .button__icon {
        padding-left: 5px;
      }
    }

  }
}