@import './variables';
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Ubuntu:300,400,500,700&display=swap');

$gridColumnWidth: 200px;
$gridTemplateAuto: repeat(auto-fill, minmax($gridColumnWidth, 1fr));

$primary: $midnight;

html,
body {
  height: 100%;
  display: block;
  min-width: 100% !important;
  width: 100% !important;
  font-family: 'Open Sans';

  .button {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    height: auto;
    @include buttonText;
    @media only screen and (min-width: $desktop) {
      max-width: 260px;
    }
    & svg {
      transition: $transition;
    }
    &.small {
      padding: 0.8rem 1rem;
    }
    &.medium {
      padding: 1rem 1rem;
    }
    &.large {
      padding: 1.1rem 1rem;
    }
    &.is-primary {
      background-color: $red;
      color: $white;
      svg {
        fill: $white;
        stroke: $white;
      }
      &:hover,
      &:focus {
        opacity: 0.85;
        background-color: $red;
        color: $white;
      }
      &.disabled {
        background-color: #e32938;
      }
    }
    &.is-secondary {
      background-color: $white;
      border: 1px solid transparent;
      color: $text-dark;
      opacity: 0.95;
      &:hover,
      &:focus {
        opacity: 1;
      }
      svg {
        fill: $text-dark;
        stroke: $text-dark;
      }
    }
    &.is-transparent {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: $white;
      &:hover,
      &:focus {
        background-color: $white;
        border: 1px solid $border;
        color: $text-dark;
        svg {
          fill: $text-dark;
          stroke: $text-dark;
        }
      }
      &.has-white-background {
        border: 1px solid $text-dark;
        color: $text-dark;

        svg {
          fill: $text-dark;
          stroke: $text-dark;
        }
        &:hover,
        &:focus {
          background-color: $text-dark;
          border: 1px solid transparent;
          color: $white;
          svg {
            fill: $white;
            stroke: $white;
          }
        }
      }
    }
    &.is-link {
      background-color: transparent;
      border: 1px solid transparent;
      color: $white;
      &:hover,
      &:focus {
        background-color: transparent;
        border: 1px solid $border;
      }
    }
  }

  a.is-link:not(.button) {
    padding: 0;
    @include regularLink;
    background-color: transparent;
    border: none;
    color: $white;
    transition: $transition;
    &:hover,
    &:focus {
      background-color: transparent;
      filter: brightness(90%);
    }
  }

  .link.has-white-background {
    color: $text-dark;
    svg {
      fill: $text-dark;
      stroke: $text-dark;
    }
    &:after {
      border-bottom: 1px solid $border-light-background;
    }
  }
  .columns {
    @media screen and (max-width: $tablet) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: $white;
  }

  h1 {
    @include Title;
    font-size: 34px;
    padding-bottom: 20px;
    @media screen and (min-width: $desktop) {
      font-size: 52px;
    }
  }

  .content h2,
  h2 {
    font-family: $titleFont;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.3em;
    padding-bottom: 16px;
    @media screen and (min-width: $desktop) {
      font-size: 46px;
    }
  }

  h3 {
    font-family: $titleFont;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 1.3em;
  }

  h4 {
    font-family: $titleFont;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.3em;
    letter-spacing: 0.2px;
  }

  h1,
  h2,
  h3 {
    font-family: $titleFont;
    @media screen and (max-width: $tablet) {
      margin-top: 20px;
    }
  }
  hr {
    background-color: $border-light-background;
    height: 1px;
  }
  figcaption {
    font-family: $primaryFont;
    font-size: 14px;
    font-style: normal !important;
    color: $body-light;
    margin-top: 12px;
  }

  .content {
    font-size: 18px;
    h1,
    h2,
    h3,
    h4 {
      color: $white;
    }
    p strong {
      font-weight: 700;
    }
    a {
      color: #3273dc;
    }
    blockquote p {
      background: red;
    }
    blockquote p {
      background: red !important;
      max-width: 1370px;
      font-family: $titleFont;
      font-weight: 500;
      font-size: 32px;
      line-height: 130%;
      text-align: center;
    }
  }

  .has-dark-background {
    background: $dark;
  }

  .has-dark-background,
  .has-dark-background .content,
  .has-dark-background.content {
    @include text_Light;
    p,
    li {
      @include text_Light;
    }
  }
  .section,
  .hero-body {
    @media screen and (max-width: $tablet) {
      padding: 1.5rem $paddingHorizontalMobile;
    }
  }
}

.section {
  .section--title {
    @include PageTitle;
    font-size: 56px;
    padding-bottom: 30px;
    @media screen and (max-width: $tablet) {
      font-size: 38px;
      line-height: 46px;
      padding-bottom: 20px;
    }
  }
  .section--description {
    @include text_Light;
    color: $body-light !important;
    font-size: 20px;
    @media screen and (max-width: $tablet) {
      font-size: $fontMedium;
    }
  }
  .section--subheading {
    @include text_Light;
    padding-bottom: 20px;
    @media screen and (max-width: $tablet) {
      padding-bottom: 10px;
    }
  }
  .section--title,
  .section--description,
  .section--subheading {
    max-width: 950px;
    &:not(.has-text-centered) {
      margin-left: 0;
      margin-right: auto;
      text-align: left;
    }
  }

  &.has-dark-background {
    color: $white;
    h1,
    h2,
    h3,
    p,
    li,
    strong {
      color: $white;
    }
  }
  &.has-light-dark-background {
    color: $white;
    background-color: $dark-light;
    strong,
    h1,
    h2,
    h3,
    li,
    p,
    p strong {
      color: inherit !important;
    }
  }
  .content {
    &.centered-free-text {
      max-width: 1022px;
      margin: auto;
      text-align: center;
      padding: 1rem;
      p {
        font-size: $fontLarge;
      }
      strong {
        font-weight: normal;
        font-size: inherit;
        color: $light-blue;
      }
    }
    &.is-left-aligned {
      max-width: 950px;
      margin-right: auto;
      margin-left: 0;
    }
  }
}

.section.is-small {
  padding: 2rem 1.5rem;
}
@media screen and (min-width: $tablet) {
  .hero.is-large .hero-body {
    padding: 18rem 1.5rem;
  }
}

.reverse-row-order {
  @media only screen and (max-width: $tablet) {
    display: flex;
    flex-flow: column;
    .column:first-of-type {
      order: 2;
    }
    .column:nth-of-type(2) {
      order: 1;
    }
  }
}

.big-paragraph {
  @include text_Light;
  font-size: $fontLarge;
  padding-bottom: 24px;
}

.regular-paragraph {
  @include text_Light;
  font-size: $fontMedium;
  padding-bottom: 16px;
}

.paragraph {
  @include text_Light;
  font-size: 16px;
  line-height: 100%;
}

.image.full-width {
  width: 100%;
  height: 375px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    height: 100%;
  }
}

/****************     NAVIGATION    ********************/

nav.navbar {
  color: $white;
  background-color: $dark;
  border-bottom: 1px solid $border-dark-background;

  &.is-transparent {
    background-color: transparent;
  }
  .navbar-brand {
    figure.image img,
    figure.image svg {
      max-height: 50px;
    }
  }
  .navbar-item,
  .navbar-link {
    color: $white;
    border: none;
    font-size: 1rem;

    .navbar-dropdown {
      background-color: $background-color-dark;
      color: $white;
      .navbar-item:hover,
      .navbar-item:focus {
        color: $white !important;
        background-color: transparent;
      }
    }
    &::after {
      border-color: #fff;
    }
    &:focus,
    &:hover,
    &:active {
      background-color: transparent;
      color: $white;
      border: none;
      b .navbar-link {
        background-color: transparent;
      }
    }

    &.is-active {
      filter: brightness(1.3);
      background-color: #131826 !important;
      border-bottom: 2px solid $border-dark-background;
      margin-bottom: -1px;
      color: $white;
    }
  }
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
  }

  /****************     MOBILE MENU     ********************/

  @media only screen and (max-width: $desktop) {
    .navbar-brand {
      figure.image svg {
        width: 200px;
      }
      .navbar-item {
        padding-left: 0;
        padding-right: 0;
      }
      &.is-active {
        background-color: $background-color-dark;
      }
    }
    .navbar-menu.is-active {
      background-color: $background-color-dark;
      position: absolute;
      height: 800vh;
      width: 100%;
      z-index: 0;
      padding: 15px;
      .navbar-item,
      .navbar-link {
        @include text_Navbar;
        padding: 18px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        &.has-dropdown {
          background-color: $midnight;
          .navbar-item {
            padding-left: 20px;
          }
        }
      }
      .navbar-item.has-dropdown {
        border: none;
        padding: 0;
      }
      .navbar-item.has-buttons {
        border: none;
      }
    }

    .navbar-burger {
      color: $white;
      background-color: transparent;
      border: none;
      &.is-active,
      & {
        span {
          height: 2px;
          width: 30px;
          left: calc(50% - 22px);
        }
      }
      & {
        span:nth-child(1) {
          top: calc(50% - 8px);
        }
        span:nth-child(2) {
          top: calc(50% - 1px);
        }
        span:nth-child(3) {
          top: calc(50% + 6px);
        }
      }
      &.is-active {
        span:nth-child(1) {
          top: calc(50% - 6px);
        }
        span:nth-child(2) {
          top: calc(50% - 1px);
        }
        span:nth-child(3) {
          top: calc(50% + 4px);
        }
      }
    }
    #contact {
      background-color: transparent;
      color: $white;
      display: flex;
      flex-wrap: nowrap;
      .info {
        // width: 50%;
        margin: 15px 0;
      }
      .info:first-of-type {
        margin-right: 25px;
      }
      .info:last-of-type {
        align-self: flex-end;
        margin-left: auto;
        @media only screen and (min-width: 767px) {
          min-width: 50%;
        }
      }
      .subtitle {
        @include text_Subtitle;
        margin-bottom: 5px;
      }
      .is-bold {
        @include text_Bold;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  nav.navbar .navbar-menu.is-active .navbar-item.has-dropdown,
  nav.navbar .navbar-menu.is-active .navbar-link.has-dropdown {
    background-color: transparent !important;
    outline: none;
  }
}

/****************     FOOTER PAGE     ********************/

footer.footer {
  background: none;
  margin: 0;
  padding: 0;
  .has-dark-background {
    background-color: $footer-background;

    a,
    p {
      font-weight: 600;
      line-height: 220%;
      color: $white;
    }
  }
  section#book-demo {
    border-top: 1px solid $border-dark-background;
    .columns {
      width: 100%;
    }
    .cta {
      margin-left: auto;
      margin-right: 0;
    }
    h3 {
      color: $white;
      font-weight: 600;
      font-size: 18px;
      &.is-red {
        color: $red;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: none;
        opacity: unset;
        padding-bottom: 20px;
      }
    }
    p {
      @include text_Light;
    }
    .contact-info {
      p {
        margin: auto 0;
        vertical-align: middle;
        color: $white;
        font-weight: 600;
        line-height: 220%;
        span {
          padding-right: 22px;
          margin: auto 0;
          svg {
            margin: auto;
            height: 18px;
            width: 18px;
          }
        }
      }
    }

    .text {
      padding-right: 20px;
    }
    @media only screen and (min-width: $desktop) {
      .cta {
        text-align: right;
        display: flex;
        .text,
        .button {
          margin: auto;
          margin-right: 0;
          margin-bottom: 0;
        }
        .button {
          max-width: 180px;
          margin-left: 0;
          align-self: flex-end;
          line-height: 1em;
        }
      }
    }
  }
  section#company-information,
  section#footer-navigation {
    border-top: 1px solid $border-dark-background;
    h3 {
      font-family: $primaryFont;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $white;
      opacity: 0.5;
      margin-bottom: 20px;
    }
  }
  section#copyright {
    border-top: 1px solid $border-dark-background;
    text-align: center;
    svg {
      max-width: 300px;
      margin: auto 0;
    }
    .copyright-text {
      margin: auto 0;
      p {
        font-size: 14px;
        line-height: 19px;
        color: $grey-light;
        opacity: 0.5;
        padding-bottom: 24px;
      }
      a {
        font-size: 14px;
        line-height: 14px;
      }
    }
    @media only screen and (min-width: $desktop) {
      display: flex;
      .copyright-text {
        align-self: flex-end;
        margin-left: auto;
        display: inline-flex;
        & > * {
          padding: 0 20px;
        }
        p {
          padding-bottom: 0px;
        }
      }
    }
  }
}

/****************     PROJECT PAGES     ********************/

section.project-page-template {
  .content {
    p,
    li {
      font-size: 20px;
    }
  }

  .figure {
    text-align: center;
    .image {
      margin-bottom: 10px;
    }
    .caption {
      font-size: 18px;
      line-height: 170%;
      margin: 0 auto;
      padding: 0 $paddingHorizontalMobile;
      padding-top: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    .figure .caption {
      max-width: 1135px;
    }
  }
}

/****************     ABOUT PAGES     ********************/

section.about-page-primary {
  .content {
    p,
    li {
      font-size: 20px;
    }
  }
}

section.vision-strategy {
  .content {
    font-size: 18px;
    h4 {
      color: #dbe0ea;
    }
  }
  figcaption {
    padding: 0 $paddingHorizontalMobile;
  }

  .grey-background {
    background: linear-gradient(0deg, #1f2331, #1f2331), #191c27;
    border-radius: 3px;
  }

  .right-wrapper {
    margin-top: 30px;
    padding: 20px;
    p {font-weight: 300;}
    h3 {
      margin-bottom: 0;
      font-size: 24px;
    }
  }

  .quad-wrapper {
    padding: 32px 24px;
  }

  br { 
    display: none;
  }

  @media screen and (min-width: $desktop) {
    .right-wrapper {
      margin-top: 0;
      padding: 51px 43px;
    }

    .quad-wrapper {
      padding: 32px 24px;
    }
    br{display: block;}
  }
}
section.centered-free-text p {font-size: 20px !important;}
section.boxes {
  .is-left-aligned {
    h2, h1, h3 {
      max-width: 510px;
      margin-left: 0;
    }
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 40px;
    @media screen and (min-width: $widescreen) {
      grid-template-columns: 2fr 3fr;
    }
    @media screen and (min-width: $fullhd) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
section#vision-last {padding-top: .5rem;}

section.about-page-partners {
  background-color: white;
  .section h1 {
    color: black;
  }
  .section p {
    color: black !important;
  }
  .logo-section {
    background-color: white;
  }
  .wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 1fr;
    .image-container {
      margin: auto;
      .image {
        width: auto;
        max-height: 100px;
        max-width: 180px;
      }
    }
    @media only screen and (min-width: $tablet) {
      grid-gap: 50px;
    }
  }
}

section.images .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(142px, 1fr));
  grid-gap: 0;
  @media only screen and (min-width: $desktop) {
    .image:nth-of-type(odd) {
      margin-top: 20px;
    }
  }
}

section.social-responsibility {
  .has-light-dark-background.three-col {
    text-align: center;
    font-size: 15px !important;
    p {
      font-size: 15px !important;
    }
  }
}

section.about-page-leadership {
  .wrapper {
    display: grid;
    grid-gap: 30px 0;
    grid-template-columns: 1fr;
    .person {
      padding-right: 50px;
      .person--heading {
        display: grid;
        grid-template-columns: 65px auto;
        grid-gap: 0 20px;
        grid-template-areas: 
        "image role"
        "image name";
        .image {
          grid-area: image;
          height: 63px !important;
          width: 63px !important;
          margin-left: 0 !important;
          border-radius: 60px;
        }
        .role {
          grid-area: role;
          font-weight: bold;
        }
        .name {
          grid-area: name;
          font-size: 24px !important;
          font-weight: bold;
          margin-top: 5px !important;
        }
      }
    }
  }
  blockquote p {
    font-size: 24px !important;
  }
  @media only screen and (min-width: $tablet) {
    .wrapper {
      grid-template-columns: repeat(auto-fill, minmax(580px,1fr));
      .name {
        margin-top: 0 !important;
      }
    }
  }
}

/****************     HOME PAGE     ********************/

.hero.front-page {
  @media only screen and (min-width: $tablet) {
    h1 {
      font-size: 8rem !important;
      max-width: 1000px;
      margin-left: 0 !important;
    }
  }
}

section#camera--image {
  .product-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media only screen and (min-width: $tablet) {
    .product-image {
      background-size: contain;
    }
  }
}

section.section#inspirational-quote {
  .wrapper-two-split {
    display: grid;
    grid-template-columns: 1fr;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }
  .bg-image {
    width: 100%;
    height: 100%;
  }
  .content {
    margin: auto;
    padding: 1.5rem;
    p {
      font-weight: 300;
      font-size: $fontLarge;
      line-height: 170%;
      strong#quote-author {
        font-size: 16px;
      }
    }
  }
  @media only screen and (min-width: $tablet) {
    padding: 3rem 0;
    .wrapper-two-split {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-size: 0 !important;
    }
    .bg-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .content {
      padding: 3rem;
      max-width: 650px;
      margin-left: 0;
      p {
        font-weight: 300;
        font-size: 24px;
        line-height: 170%;
        strong#quote-author {
          font-size: 16px;
        }
      }
    }
  }
}

/****************     CONTACT PAGE    ********************/

section.map {
  background: $dark;
  div#google-maps {
    height: 40vh;
    width: 100%;
  }
}

section#offices {
  background-color: $background-color-dark;
  padding-top: 0;
  padding-bottom: 0;

  h1 {
    padding-top: 1rem;
    margin: auto 0;
  }
  .wrapper {
    .office {
      cursor: pointer;
      padding: 0.5rem 0;
      border-top: 3px solid transparent;
      transition: $transition;
      &:last-of-type {
        border-right: none;
      }
      h3 {
        font-family: $primaryFont;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }
      p {
        font-family: $primaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 220%;
      }
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    .wrapper .office {
      p {
        font-size: 14px;
      }
    }
  }
  @media only screen and (min-width: $tablet) {
    padding-bottom: 4rem;
    border-bottom: 1px solid $border-dark-background;
    h1 {
      padding-top: 0;
    }
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .office {
        padding: 1rem;
        border-right: 1px solid $border-dark-background;
        h3 {
          margin-bottom: 15px;
        }
      }
    }
  }
  @media only screen and (min-width: $widescreen) {
    .wrapper {
      .office {
        &:hover,
        &:focus,
        &.is-active {
          outline: 0;
          border-top: 3px solid $red;
          h3,
          p {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .button-wrapper {
    background-color: $white;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    button {
      height: 58px;
      background-color: $white;
      color: $text-dark;
      font-size: 16px;
      font-weight: 600;
      border: none;
      border-top: 4px solid $grey-light;
      &:hover,
      &:focus,
      &.is-active {
        color: $white;
        border-top: 4px solid $grey-light;
        background-color: $red;
      }
    }
  }
}

section#contact-form {
  padding-top: 3rem !important;
  background-color: $background-color-dark;
  color: $white;
  h1,
  p,
  li,
  label,
  h2 {
    color: $white;
  }

  h2 {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 170%;
    letter-spacing: 0.5px;
    padding-bottom: 2rem;
  }
  .contact-information {
    .contact-information-item {
      display: grid;
      padding-bottom: 30px;
      grid-template-columns: 1fr 10fr;
      grid-template-areas:
        '.......  title'
        'icon content';
      h4 {
        grid-area: title;
        color: $white;
        @include text_Light;
        margin: 0;
        padding-bottom: 12px;
      }
      svg {
        grid-area: icon;
      }
      .contact-information-item-content {
        grid-area: content;
        p,
        a {
          @include text_Bold;
        }
      }
      svg,
      .contact-information-item-content {
        margin: auto 0;
      }
    }
  }
  #form {
    background-color: $secondary-background;

    input,
    textarea {
      background-color: $background-color-dark;
      border: 1px solid $border-dark-background;
      border-radius: 3px;
      color: $white;
    }
    button {
      width: 100%;
      max-width: none;
    }
    @media screen and(min-width: $desktop) {
      padding: 2rem;
    }
  }
}

/****************     SOLUTION PAGES    ********************/

.solution-page {
  section.hero {
    .hero-body {
      font-size: 20px;
      h1,
      p {
        max-width: 734px;
        margin-left: 0;
      }
    }
    @media only screen and (min-width: $tablet) {
      .hero-body {
        padding: 22rem 1.5rem;
        padding-bottom: 8rem;
      }
    }
  }
  section#read-more {
    display: none;
    @media only screen and (min-width: $tablet) {
      display: block;
      padding: 0 1.5rem;
      .read-more-button {
        position: absolute;
        overflow: visible;
        z-index: 10;
        top: -32px;
      }
    }
  }
}

/****************     PROJECT PAGES    ********************/

section#project-page-primary .wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'header'
    'sidebar'
    'content'
    'partners';

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }

  .header {
    grid-area: header;
  }

  .partners {
    grid-area: partners;
  }

  .figure {
    margin-left: 0px;
    margin-bottom: 0;
    figcaption {
      text-align: left;
    }
  }

  @media only screen and (min-width: $tablet) {
    grid-template-columns: 330px auto;
    grid-template-areas:
      'header header'
      'sidebar  content'
      'partners partners';

    .figure {
      margin-right: 0px;
      margin-bottom: 40px;
      figcaption {
        text-align: right;
      }
    }

    .content {
      margin-left: 0px;
      max-width: 1050px;
      p {
        max-width: 930px;
        margin-left: 0px;
      }
    }
  }
}

/****************     PRODUCT PAGES    ********************/
section.product-page-primary {

  .content.centered-free-text {
    max-width: 854px;
    margin: 0 auto;
    h3 {
      font-weight: bold;
      font-size: 18px;
    }
    h2:first-of-type {
      margin-top: 0;
      max-width: 720px;
      margin: 0 auto;
    }
    p {
      font-size: 18px;
    }
  }
  .background-image-lines {
    background-image: url('../img/zigzagLines.svg');
    background-size: cover;
    .image {
      margin: 0 auto;
    }
  }
  .large-image {
    .button {max-width: 290px; }
  }
  .alternating-sections {
    h3 {
      font-size: 18px;
      color: $body-light;
      margin-bottom: 15px;
    }
    h1, h2 {
      margin-top: 0;
    }
  }
  @media only screen and (max-width: $tablet) {
    .large-image {
      .button {margin: 20px 0;}
    }
  }
}

section.piechart {
  padding: 3rem 0;
  @media only screen and (min-width: $tablet) {
    background-repeat: no-repeat;
    background-size: 120% contain;
    background-position: center;
    z-index: 10;
    position: relative;
    text {
      z-index: 100 !important;
      position: relative !important;
    }
  }
}