@import '../_variables.scss';

.wrap {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  & button {
    margin-right: 18px;
    margin-bottom: 17px;
    a {
    	display: flex;
    	align-items: center;
    }
  }
  @media(max-width: 768px){
    & button {
    	margin-right: 0;
    	width: 100%;
    	a {
    		width: 100%;
    		div:nth-child(1) {
    			width: calc(100% - 40px);
    			overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
    		}
    		div:nth-child(2) {
    			width: 20px !important;
    			margin-left: 20px;
    		}
    	}
    }
  }
}