@import '../_variables.scss';

.wrap {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  & button {
    margin-right: 18px;
    margin-bottom: 17px;
    a {
    	display: flex;
    	align-items: center;
    }
  }
  @media screen and (max-width: $tablet){
    & button {
    	margin-right: 0;
      width: 100%;
    	& a {
        width: 100%;
    		& span:nth-child(1) {
          width: calc(100% - 20px);
          display: block;
          word-wrap:break-word;
          white-space: normal;
          text-align: left;
        }
        & span:nth-child(2) {
          width: 20px;
        }
    	}
    }
  }
}