@import '../_variables.scss';


.chartContainer {
  height: 180px !important;
  width: 100vw !important;
  max-width: 100vw !important;
  background-image: url('/img/dark-cloud.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  tspan.pieChart__title__percentage {
    font-size: 20px;
    font-weight: bold;
    fill: $white;
  }
  tspan.pieChart__title__company {
    fill: $body-light;
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
  }
  text.label__text {
    font-weight: bold;
    font-size: 10px;
  }
  text.label__company {
    font-size: 10px;
  }

  @media only screen and (max-width: $tablet) {
    .hidden__mobile {
      display: none !important;
      stroke: transparent !important;
      fill: transparent !important;
    }
  }

  @media only screen and (min-width: $tablet) {
    height: 450px !important;
    tspan.pieChart__title__percentage {
      font-size: 32px !important;
    }
    tspan.pieChart__title__company {
      font-size: 14px !important;
    }
    text.label__text {
      font-weight: bold;
      font-size: 14px;
    }
    text.label__company {
      font-size: 14px;
    }
  }
}


