@import '../_variables.scss';




text.pieChart__title__percentage {
  font-size: 32px;
  font-weight: bold;
  fill: $white;
}
text.pieChart__title__company {
  fill: $body-light;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .005em;
}
