@import '../_variables.scss';

$spaceBetweenMobile: 60px;
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    .main__item {
        grid-row: 1;
        text-align: center;
        padding-top: 50px;
        .main__item__image {
            margin: auto;
            max-width: 260px;
            padding-bottom: $spaceBetweenMobile;
            &:nth-of-type(2) {
                padding-top: $spaceBetweenMobile;
            } 
        }
        .main__item__heading {
            font-weight: bold;
            font-size: 32px;
            line-height: 110%;
            padding-bottom: 10px;
        }
        .main__item__subheading {
            font-family: $titleFont;
        }
    }
    .item1 {
        grid-row: 2;
    }
    .item2 {
        grid-row: 3
    }
    .comparison__item, .main__item {
        border-top: 1px solid $border-dark-background;
        border-bottom: 1px solid $border-dark-background;
    }
    .comparison__item {
        text-align: center;
        padding: 1rem;
        .comparison__item__heading {
            font-weight: bold;
            font-size: 20px;
            padding-bottom: 30px;
        }
        .comparison__item__list_item {
            padding: 6px 0;
        }
    }
    @media only screen and (min-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        .comparison__item {
            text-align: center;
            padding: 1rem 2rem;
            z-index: 0;
        }
        .main__item {
            width: 110%;
            height: 110%;
            margin-top: -5% !important;
            margin-left: -5% !important;
            z-index: 10;
            grid-row: 1;
            background-color: #0C0F17;
            text-align: center;
            .main__item__image {
                margin: auto;
                max-width: 260px;
                padding-bottom: $spaceBetweenMobile;
                &:nth-of-type(2) {
                    padding-top: $spaceBetweenMobile;
                } 
            }
            .main__item__heading {
                font-weight: bold;
                font-size: 32px;
                line-height: 110%;
                padding-bottom: 10px;
            }
            .main__item__subheading {
                font-family: $titleFont;
            }
        }
        .main__item, .item1, .item2 {
            grid-row: 1;
        }
        .comparison__item, .main__item {
            border: 1px solid $border-dark-background;
        }
    }
}